
.tumb-imgs{
	background-color: black;
	padding-top: 5px;
	text-align: center;
		position: relative;
}

body{
	background-color: #3E4E13;
}

img.selectedTumb{
opacity:1;
}
.tumb{
opacity:0.2;
border-style:solid;

}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

a:link {color:#007536;}      /* unvisited link */
a:visited {color:#007536;}  /* visited link */
a:hover {color:#007536;}  /* mouse over link */
a:active {color:#007536;}  /* selected link */

a.prev , a.next {
font-size: large;

}
.container{
	background-color: black;
	width: 1366px;
	margin: auto;

	border-style:solid;
}

a.next , a.prev {
	height: 100%;
	width: 50%;
	background-repeat:no-repeat;

}
a.next{
	float: right;
	right: 0;
	background-position:right center; 
}
a.prev{
	float: left;
	left: 0;
	background-position:left center; 
}
.main{
	width: 1366px;
	height: 768px;
	text-align: center;
	position: relative;
}
.img{
	position: absolute;
	top:0;
	left: 0;
}
.nav{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;


}
img.prev , img.next {


}

